@import "../vars";

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background: #00000080;
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 35px 20px #00000030;
  -moz-box-shadow: 0 35px 20px #00000030;
  box-shadow: 0 35px 20px #00000030;

  &.zooming {
    transform: translate(-50%, -50%) scale(0.4);
    backface-visibility: hidden;
  }
}

.window__titlebar {
  position: relative;
  background: #00000080;
  padding: 8px;
  display: flex;
  align-items: center;

  .window__title {
    width: 100%;
    color: #fff;
    font-size: 130%;
  }

  .window__close {
    text-decoration: none;
    margin-left: auto;
    width: 21px;
    height: 20px;
    background: $red;
    border-radius: 50%;
    font-size: 12px;
    &::before {
      line-height: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      content: "x";
    }
  }
}

.window__content {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (min-width: 900px) {
  .window {
    width: 80%;
    max-height: 85%;
  }
}

@media only screen and (min-width: 600px) {
  .window__content {
    display: flex;
  }
}
