@import "./vars";
@import "./utils";

// Themes
@import "./themes/classic";
@import "./themes/neumorph";

body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#welcome {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $primary;
  z-index: 99;
  transition: opacity 1s, transform 0s 1s;

  > big {
    font-size: 8vmax;
    color: #fff;
    opacity: 0;
    animation: 2s forwards 0.5s reset;
  }

  &.hidden {
    opacity: 0;
    transform: scale(0);
  }
}

#desktop {
  height: 100vh;
  background: #fff center;
  background-image: url(./assets/beach_ocean_sand_palm_trees_bungalows_95633_5000x3333.jpg);
  background-size: cover;
  position: relative;
}

.social-media {
  position: absolute;
  bottom: 50px;
  right: 2px;
}

.social-link {
  margin: 3px;
  width: 3vmax;
  display: block;

  > img {
    width: 100%;
    height: auto;
  }
}
